<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="navbar flex justify-content-between align-items-center">
  <!-- Menu principal -->
  <ul class="flex menu-left">
    <li><a routerLink="" [ngClass]="getLinkClass()">Home</a></li>
    <li><a routerLink="/about" [ngClass]="getLinkClass()">About</a></li>
    <li><a routerLink="/contact" [ngClass]="getLinkClass()">Contacts</a></li>
  </ul>

  <!-- Centre -->
  <ul class="flex menu-center">
    <li><a routerLink="/jobs" [ngClass]="getLinkClass()">Job Board</a></li>
<!--    ici /jobs  est associe a JobBoardComponent -->
    <li><a routerLink="" [ngClass]="getLinkClass()">News</a></li>
    <li><a routerLink="" [ngClass]="getLinkClass()">Tendances</a></li>
    <li><a routerLink="" [ngClass]="getLinkClass()">Video Games</a></li>
    <li><a routerLink="" [ngClass]="getLinkClass()">Vulgarisation</a></li>
    <li><a routerLink="" [ngClass]="getLinkClass()">Gift</a></li>
  </ul>

  <!-- Espace authentification + profils -->
  <ul class="flex menu-right">
    <li
      class="flex flex-column p-button p-button-link signout"
      (click)="toggleShowLogging()"
      *ngIf="isAuthenticated">
      <fa-icon [icon]="['fas', 'lock']"></fa-icon>
      SignOut
    </li>

    <li
      class="flex flex-column p-button p-button-link signin"
      (click)="toggleShowLogging()"
      *ngIf="!isAuthenticated">
      <fa-icon [icon]="['fas', 'key']"></fa-icon>
      SignIn
    </li>


<!--    <li><a routerLink="/user" [ngClass]="getLinkClass()">User</a></li>-->
<!--    <li><a routerLink="/provider" [ngClass]="getLinkClass()">Provider</a></li>-->
<!--    <li><a routerLink="/jobber" [ngClass]="getLinkClass()">Jobber</a></li>-->
    <li class="flex flex-column">
      <a routerLink="/user"
         [ngClass]="{'active-user': userType === 'USER'}">User</a>
    </li>

    <li class="flex flex-column">
      <a routerLink="/provider"
         [ngClass]="{'active-user': userType  === 'PROVIDER'}">Provider</a>
    </li>

    <li class="flex flex-column">
      <a routerLink="/jobber"
         [ngClass]="{'active-user': userType=== 'JOBBER'}">Jobber</a>
    </li>

  </ul>
</div>
<!--<router-outlet> </router-outlet>-->
</body>
</html>

<!--&lt;!&ndash;<p>header works!</p>&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="flex justify-content-between  navbar">-->

<!--  <div  class="" >-->
<!--    <ul class="flex justify-content-start  align-items-center bg-black-alpha-10">-->
<!--      <li>-->
<!--        <a  routerLink="">Home</a>-->

<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="/about">About</a>-->


<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="/contact">Contacts</a>-->

<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--  <div class="" >-->
<!--    <ul class="flex justify-content-between w-full align-items-center">-->
<!--      <li>-->
<!--        <a routerLink="" >  Job Board</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="" > News</a>-->
<!--      </li>-->

<!--      <li>-->
<!--        <a routerLink="">Tendances </a>-->
<!--      </li>-->

<!--      <li>-->
<!--        <a routerLink="">Videos Games</a>-->

<!--      </li>-->

<!--      <li>-->
<!--        <a routerLink="">vulgarisation</a>-->
<!--      </li>-->

<!--      <li>-->
<!--        <a routerLink=""> gift</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--<div>-->
<!--  <ul class="flex justify-content-end align-items-center ">-->
<!--  <li class="flex flex-column p-button p-button-link"    (click)="toggleShowLogging()" *ngIf="isAuthenticated"  [ngStyle] ="{ 'background-color':  getColor() }" >-->
<!--    <fa-icon [icon]="['fas', 'lock']" class="icon-label">-->
<!--    </fa-icon>-->
<!--    SignOut-->
<!--&lt;!&ndash;    <a routerLink="/signout">  SignOut</a>&ndash;&gt;-->
<!--  </li>-->
<!--  <li class="flex flex-column p-button p-button-link "  (click)="toggleShowLogging()" *ngIf="!isAuthenticated" [ngStyle] ="{ 'background-color':  getColor() }"  >-->
<!--    <fa-icon [icon]="['fas', 'key']" class="icon-label"> </fa-icon>-->
<!--    SignIn-->
<!--&lt;!&ndash;    <a routerLink="/signin">  SignIn</a>&ndash;&gt;-->
<!--  </li>-->
<!--    </ul>-->
<!--</div>-->
<!--  <div>-->
<!--    <ul class="flex justify-content-end align-items-center bg-black-alpha-10">-->

<!--      <li class="flex flex-column">-->
<!--        <fa-icon [icon]="'user'" class="icon-label"></fa-icon>-->
<!--        <a routerLink="/user">  User</a>-->
<!--      </li>-->
<!--      <li class="flex flex-column">-->
<!--        <fa-icon [icon]="'handshake'" class="icon-label"> </fa-icon>-->
<!--        <a routerLink="/provider">Provider</a>-->
<!--&lt;!&ndash;        <span class="icon-label">Utilisateur</span>icon-container&ndash;&gt;-->
<!--      </li>-->
<!--      <li class="flex flex-column" >-->
<!--        <fa-icon [icon]="'people-carry'"  class="icon-label"> </fa-icon>-->
<!--        <a routerLink="/jobber" >Jobber</a>-->

<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->


<!--</div>-->

<!--</body>-->
<!--</html>-->


