

a, h1, body, p{
  box-sizing: border-box;
}
a{
  text-decoration:none;
  color:var(--text-black-color);
}
ul {


  /*display:flex;*/
  list-style-type: none;
  /*background-color: #ADD8E680;*/
  margin: 0;
  padding: 0;
  height: 60px;
  /*width: 100%;*/


}

li {
  margin-right: 1rem ; /* Espacement entre les éléments */
  margin-left: 1rem ;
}

div{
  /*display: flex;*/
}

.ulcontainer{
  /*width: 600px;*/
  padding-left: 20px;

}

.container{
  /*background-color: #ADD8E680;*/
}



.icon-container {
  display: flex;
  flex-direction: column; /* Met l'icône et le texte en colonne */
  align-items: center; /* Centre l'icône et le texte horizontalement */
  margin: 10px; /* Espacement autour de chaque icône */
}

.icon-container fa-icon {
  font-size: 2rem; /* Taille de l'icône */
}

.icon-label {
  /*margin-top: 1rem;*/

  /* Espacement entre l'icône et le texte */
  /*font-size: 1rem; !* Taille du texte*/
  /*color: #555; !* Couleur du texte *!*/
  text-align: center; /* Centre le texte */
}

.navbar{
  width: 100%;
  height: 80px;
  background-color: yellow;
  padding-top: 10px;
}
