.job-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.job-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

/* Cibler le conteneur du Header de la carte */
:host ::ng-deep .p-card-header {
  background-color: #f1f5f9; /* Un bleu-gris très doux */
  padding: 1rem 1.25rem 0.25rem 1.25rem;
  /*padding: 1.5rem 1.5rem 0.5rem 1.5rem;*/
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Cibler le corps de la carte */
:host ::ng-deep .p-card-body {
  background-color: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 1rem;
  /*padding: 1.5rem;*/
}

/* Amélioration des labels pour le contraste */
.text-500 {
  color: #475569 !important; /* Gris ardoise plus foncé pour être bien lisible */
  font-weight: 600;
}

/* Style de la carte au survol */
.job-card {
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 12px;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}


.job-description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* nombre de lignes visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



.job-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}
