<head>
<!--  <link-->
<!--    rel="stylesheet"-->
<!--    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"-->
<!--  />-->

</head>

<div

  class="job-card"
  [routerLink]="['/jobs', job().jobPublicId]"
>



<p-card class="job-card shadow-3 border-round-lg">
<!--       (click)="goToJobDetails()"-->

  <!-- HEADER -->
  <ng-template pTemplate="header"
  >
    <div class="flex flex-column gap-2">

      <!-- Titre du job -->
      <div>
        <small class="text-500 block"></small>
        <h3 class="m-0 font-semibold text-lg">
          {{ job().title }}
        </h3>
      </div>

      <!-- Type de job -->
      <div class="flex align-items-center gap-2">
        <small class="text-500">Type de job :</small>
        <span class="p-badge p-badge-info">
        {{ job().typeOfJob }}
      </span>
      </div>

    </div>
  </ng-template>



  <!-- BODY -->
  <div class="flex flex-column gap-4 text-sm">

    <!-- Description -->
    <div>
      <small class="text-500 block mb-1">Description</small>
      <p class="m-0 text-700 line-height-3 job-description">
        {{ job().description }}
      </p>

      <!--      <p class="m-0 text-700 line-height-3">-->
<!--        {{ job().description }}-->
<!--      </p>-->
    </div>

    <!-- Adresse -->
    <div>
      <small class="text-500 block mb-1">Adresse</small>
      <div class="flex align-items-center gap-2 text-700">
        <i class="pi pi-map-marker text-primary"></i>
<!--        <i class="fa-solid fa-location-dot text-primary"></i>-->

        <span class="job-address">
          {{ job().address.street }},
          {{ job().address.city }},
          {{ job().address.country }}
        </span>
      </div>
    </div>

    <!-- Date & Horaires -->
    <div class="grid">
      <div class="col-6">
        <small class="text-500 block mb-1">Date</small>
        <i class="pi pi-calendar mr-2 text-primary"></i>
        {{ job().date }}
      </div>

      <div class="col-6">
        <small class="text-500 block mb-1">Horaires</small>
        <i class="pi pi-clock mr-2 text-primary"></i>
        {{ job().heureDebut }} – {{ job().heureFin }}
      </div>
    </div>

    <!-- Tarification -->
    <div class="grid border-top-1 surface-border pt-3">
      <div class="col-4">
        <small class="text-500 block mb-1">Tarif horaire</small>
        <span class="font-medium">
          {{ job().tarifPerHours }} € / h
        </span>
      </div>

      <div class="col-4">
        <small class="text-500 block mb-1">Nombre heures</small>
        <span class="font-medium">
          {{ +job().totalPrice/+job().tarifPerHours}} h
        </span>
      </div>

      <div class="col-4 text-right">
        <small class="text-500 block mb-1">Montant total</small>
        <span class="text-xl font-bold text-primary">
          {{ job().totalPrice }} €
        </span>
      </div>
    </div>

    <!-- Status -->
    <div class="flex justify-content-between">
      <div>
<!--        <small class="text-500 block mb-1">createdDate</small>-->
        <i class="pi pi-calendar mr-2 text-primary"></i>
        {{ job().createdDate | relativeTime }}
      </div>
      <span
        class="p-badge"
        [ngClass]="{
          'p-badge-success': job().status === 'FUTURE',
          'p-badge-warning': job().status === 'DONE',
          'p-badge-secondary': job().status === 'ONGOING'
        }"
      >
        {{ job().status }}
      </span>

    </div>

<!--    <div class="grid">-->
<!--      <div class="col-6">-->
<!--        <small class="text-500 block mb-1">createdDate</small>-->
<!--        <i class="pi pi-calendar mr-2 text-primary"></i>-->
<!--        {{ job().createdDate | relativeTime }}-->
<!--      </div>-->
<!--    </div>-->
  </div>


</p-card>
<!---->
</div>
