<p>sig-in works!</p>

<p>connexion works!</p>


<!--<button-->
<!--        [ngStyle]="{'background-color':'red'}"-->
<!--        (click)="toggleAddTask()"-->
<!--&gt;-->
<!--  click-->
<!--</button>-->
<!--  <div class="flex justify-content-evenly ">-->

<!--    <li  class="flex flex-column"  (click)="toggleAddTask()" *ngIf="!isAuthenticated">-->
<!--        <fa-icon [icon]="['fas', 'lock']"></fa-icon>-->
<!--      <a routerLink="/signin">  SignOut</a>-->

<!--    </li>-->
<!--    <li class="flex flex-column" (click)="toggleAddTask()"  *ngIf="isAuthenticated">-->
<!--      <fa-icon [icon]="['fas', 'key']"> >  Connexion </fa-icon>-->
<!--      <a routerLink="/signin">  SignIn</a>-->
<!--    </li>-->
<!--  </div>-->




<app-login></app-login>


