<p>home works!</p>

<!--<h1 [ngClass]="{back: b === true }"> tetst NgClass </h1>-->
<!--<h1 [ngStyle]="{'background-color': 'red'}"> tetst NgStyle</h1>-->

<div class="flex flex-column  ">
  @if(isAuthenticated){
    <h1 >Veuillez cliquer le bouton vert en haut à gauche pour acceder à votre dashbor !</h1>
  }

<!--  <p>Debug : {{ date()?.toISO() }}</p>-->

<!--  @if (date()) {-->
<!--    <div class="grid">-->
<!--      date()?.toJSDate()-->
<!--    </div>-->
<!--  } @else {-->
<!--    <p>Erreur : La date est indéfinie !</p>-->
<!--  }-->
<!--  <p-calendar-->
<!--    [ngModel]="date()?.toJSDate()"-->
<!--    (ngModelChange)="date.set(convertToLuxon($event))">-->
<!--  </p-calendar>-->

eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee

    </div>


