<p>login works!</p>
<div style="background-color: chartreuse; height: 200px;width: 300px; "  *ngIf="!isAuthenticated" >
  <h2> Se connecter avec Auth0</h2>
  <button pButton  (click)="login()">Connexion </button>
</div>
<br>
<div style="background-color: chartreuse; height: 250px;width: 300px; " *ngIf="isAuthenticated" >
  <img [src]="user?.picture" alt="Photo de profil" width="40"> <br>
  <h2>{{ user?.name }}</h2>
  <h3>{{ user?.email }}</h3>
<!--  <h3>{{ user?.claim}}</h3>-->
<!--  <h3>{{ user?.test}}</h3>-->

  <button (click)="
  logout()">Déconnexion</button>
  <br>
</div>

<!--<h3 *ngIf="user?.test">Test:</h3>-->
<!--<ul>-->
<!--  <li *ngFor="let item of user?.test">{{ item }}</li>-->
<!--</ul>-->


