<div class="placeholder">
  <div class="controls flex justify-content-between py-3 border-top-1 px-4">

    @if (currentStep().idPrevious !== null){
      <button class="p-button p-button-link" (click)="onPrevious()">Back</button>
    }
    @else {
      <div></div>
    }

    @if (currentStep().idNext !== null){
      <button
        [disabled]="!currentStep().isValid"
        [class.p-disabled]="!currentStep().isValid"
        class="p-button p-button-lin" id="next" (click)="onNext()">Next</button>
    }
    @else {
      <div>
        <button class="p-button flex align-items-center"
                id="create-listing"
                (click)="onFinish()" [disabled]="!isAllStepValid() || loading()"
                [class.p-disabled]="!isAllStepValid() || loading()">
          <div class="btn-create">{{ labelFinishBtn() }}</div>
          @if (loading()){
            <fa-icon class="ml-2" icon="circle-notch" animation="spin"></fa-icon>
          }
        </button>
      </div>
    }

  </div> </div>

