<p>user works!</p>
<h1> Bienvenue dans votre espace utilisateur. </h1>
<h2> Si  vousnee avez un statut Jobber ou Provider ou User  Veillez cliquer sur ces bouton pour voir plus d'information sur votre profil. </h2>

@if(userTypeDashboard()==="USER"){
  <app-user-dashboard [userTypeDashbord]="userTypeDashboard()"></app-user-dashboard>
}
@else {

  <h1> Vous n'avez pas le droit d'acceder à cette page ! Car Vous n'êtes pas ni User </h1>
}
<!--<div style="background-color: chartreuse; height: 250px;width: 300px; " *ngIf="isAuthenticated" >-->
<!--  <img [src]="user?.imageUrl" alt="Photo de profil" width="40"> <br>-->
<!--    <h2> <span> FirstName : </span>   {{ user?.firstname }} </h2>-->
<!--  <h2> <span> LastName : </span> {{ user?.lastname }}</h2>-->
<!--  <h3> <span> Email    :  </span> {{ user?.email }}</h3>-->
<!--  <h3> <span> Type User :  </span> {{ user?.type}}</h3>-->
<!--  <h3> <span> Role     :   </span>  {{ user?.userRole }}</h3>-->
<!--  <h3> <span> Notification      :   </span>  {{ user?.notification?.email +" - " +user?.notification?.name +" registred " }}</h3>-->
<!--</div>-->
<!--<app-registration-notification></app-registration-notification>-->


<!--<h2>👤 Mon profil</h2>-->
<!--<img [src]="user?.imageUrl" alt="Photo" width="100">-->
<!--<p><strong>Nom :</strong> {{ user?.firstname }} {{ user?.lastname }}</p>-->
<!--<p><strong>Email :</strong> {{ user?.email }}</p>-->
<!--<p><strong>Type :</strong> {{ user?.type }}</p>-->
<!--<p><strong>Rôle :</strong> {{ user?.userRole }}</p>-->
